@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 220 17% 98%;
    --foreground: 224 71.4% 4.1%;
    --card: 220 17% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 220 17% 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 337 82% 61%;
    --primary-foreground: 330 100% 98%;
    --secondary: 262 91% 65%;
    --secondary-foreground: 262 100% 98%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 45%;
    --accent: 193 100% 58%;
    --accent-foreground: 193 100% 5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 337 82% 61%;
    --chart-1: 337 82% 61%;
    --chart-2: 193 100% 58%;
    --chart-3: 220 13% 91%;
    --chart-4: 220 9% 38%;
    --chart-5: 220 9% 45%;
    --radius: 0.5rem;
    --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 337 82% 61%;
    --primary-foreground: 330 100% 98%;
    --secondary: 262 70% 30%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 193 100% 58%;
    --accent-foreground: 193 100% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 337 82% 61%;
    --chart-1: 337 82% 61%;
    --chart-2: 193 100% 58%;
    --chart-3: 215 27.9% 16.9%;
    --chart-4: 210 20% 98%;
    --chart-5: 217.9 10.6% 64.9%;
    --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
